## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import copy

## Data Handling

In [2]:
data = pd.read_excel('Historical Product Demand_project 5.xlsx')
data.head()

   Product_Code Warehouse Product_Category       Date  Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27           100
1  Product_0979    Whse_J     Category_028 2012-01-19           500
2  Product_0979    Whse_J     Category_028 2012-02-03           500
3  Product_0979    Whse_J     Category_028 2012-02-09           500
4  Product_0979    Whse_J     Category_028 2012-03-02           500

## Removing Rows with empty values

In [3]:
def data_fix(dataf1):
    dataf = copy.copy(dataf1)
    dataf = dataf.dropna(inplace = False)
    return dataf

## Splitting the Data into Training and Testing Data

In [4]:
#Inputs the Data After Feature Engineering Tasks and Splits it into Training and Testing Data, Function Returns two DataFrames
def split(dataf):
    #dataf = dataf.sample(frac = 1) #Shuffles the DataFrame Along the Rows
    ratio = 0.67
    rows = dataf.shape[0]
    train_size = int(rows * ratio)
    train = dataf[0:train_size]
    test = dataf[train_size:]
    return train,test

## Final Dataset

In [5]:
def final_data(dataf1):
    dataf = copy.copy(dataf1)
    dataf = data_fix(dataf)
    dataf = dataf.sort_values('Date')
    train, test = split(dataf)
    return train, test

In [6]:
train, test = final_data(data)